/* SOEN-343-Project\trip-planner\src\app\globals.css */

@import "tailwindcss";



:root {
  --brand-blue: #1e73be;
  --brand-green: #3e8e2f;
  --brand-light: #f8fafc;
  --brand-dark: #1f2937;
}

html,
body {
  height: 100%
}

body {
  background: var(--brand-light);
  color: var(--brand-dark);
}
